@keyframes right-slide-in {
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes right-slide-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        opacity: 0;
        transform: translateX(100%);
    }
}

.right-slide-in {
    animation-name: right-slide-in;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}
.right-slide-out {
    animation-name: right-slide-out;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

/*报警图标动画*/
@keyframes keyframes-fill {
    0% {
        /*opacity: 0;*/
    }

    25% {
        transform: rotate(25deg);
    }

    50% {
        transform: rotate(-20deg) scale(1.2);
    }

    75% {
        transform: rotate(15deg);
    }
}