*{
  margin: 0;
  padding: 0;
}
canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#panelContainer {
  position: relative;
  z-index: 1;
}
#fpsDisplay {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: greenyellow;
  z-index: 2;
}
