body,
html,
.main {
  width: 100%;
  height: 100%
}

.main {
  position: relative;
  background-size: cover;
}

canvas{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

#panelContainer {
  position: relative;
  z-index: 1;
}

#fpsDisplay {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  color: #0efcff;
  z-index: 2;
}

.button{
  right: -70%;
  top: 40%;
  visibility: hidden;
  position: relative;
  width: 10px;
  z-index: 2;
}

.icon{
  margin: 2px;
  height: 20px;
  visibility: visible;
  cursor: pointer;
  z-index: 2;
}

#time{
  position: relative;
  right: -75%;
  top: 30%;
  z-index: 2;
  color: #0efcff;
}

.nav {
  position: relative;
  top: .5vw;
  width: 100%;
  height: 5vw;
  background: url(../public/img/top.png) no-repeat;
  background-size: 100%;
  text-align: center;
  line-height: 4vw;
  color: #0efcff;
  font-size: 1.4vw;
  letter-spacing: .4vw;
  z-index: 2;
}

.nav_btn {
  position: absolute;
  top: 1.5vw;
  width: 100%;
  height: 2vw;
}

.btn_right {
  float: right;
  width: 25%;
  margin-right: 5%;
  height: 100%;
}

.content {
  position: relative;
  width: 97%;
  height: 87%;
  margin: auto;
}

.content .heading {
  position: absolute;
  top: 5%;
  font-weight: 700;
  font-size: 32px;
}

.baseBox {
  position: relative;
  float: left;
  width: 48.8%;
  height: 32.3%;
  border: 1px solid #6176AF;
  border-radius: 5px;
}


.leftBox {
  float: left;
  height: 100%;
  width: 34.5%;
  /* background: yellow; */
}

.rightBox {
  float: left;
  height: 100%;
  width: 34.5%;
}

.boxTitle {
  font-size: 1vw;
  color: #0efcff;
  width: 80%;
  margin-left: .8vw;
  margin-top: .5vw;
}

.left {
  float: left;
}

.right {
  float: right;
}

.baseBox {
  width: 100%;
  border: none;
  background: none;
}

.baseBox1 {
  position: relative;
  z-index: 2;
  margin-bottom:15px;
  height:40%
}


.boxTitle {
  font-size: .8vw;
  width: 38%;
  margin-top: 1vw;
  text-align: center;
}

.baseBox1 .hardware{
  position: absolute;
  width: 100%;
  height: 100%;
}

#rightLabel{
  display: none;
}

.content1{
  position: relative;
  left: 20%;
  top: 20px;
  width: 60%;
  height: 50%;
}

