body,
html,
.main {
    width: 100%;
    height: 100%
}

.main {
    position: relative;
    background-size: cover;
}

.nav{
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    top: .5vw;
    width: 100%;
    height: 5vw;
    background: url(../public/img/top.png) no-repeat;
    background-size: 100%;
    text-align: center;
    line-height: 4vw;
    color: #0efcff;
    font-size: 1.4vw;
    letter-spacing: .4vw;
    z-index: 2;
}

.nav_btn {
    position: absolute;
    top: 1.5vw;
    width: 100%;
    height: 2vw;
}

.btn_right {
    float: right;
    width: 25%;
    margin-right: 5%;
    height: 100%;
}

.btn_list {
    position: relative;
    float: left;
    width: 5.5vw;
    height: 1.6vw;
    text-align: center;
    line-height: 1.6vw;
    font-size: .9vw;
    color: #0efcff;
    letter-spacing: .1vw;
    cursor: pointer;
}

.btn_list:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid #6176AF;
    transform: skewX(-38deg);
}

.btn_list:hover::before {
    border-color: #0efcff;
    box-shadow: 1px 1px 3px 1px #0efcff inset;
}

.listActive:before {
    border-color: #0efcff;
    box-shadow: 1px 1px 3px 1px #0efcff inset;
}


.content {
    position: relative;
    width: 97%;
    height: 87%;
    margin: auto;
    /* background: white; */
}

.baseBox {
    position: relative;
    float: left;
    width: 48.8%;
    height: 32.3%;
    border: 1px solid #6176AF;
    background: rgba(11, 21, 44, 0.60);
    border-radius: 5px;
}

.leftBox {
    float: left;
    height: 100%;
    width: 34.5%;
    z-index: 2;
}

.rightBox {
    float: left;
    height: 100%;
    width: 34.5%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.baseBox1 {
    position: relative;
    z-index: 2;
}


.baseBox {
    width: 100%;
    border: none;
    background: none;
}

.boxTitle {
    font-size: .8vw;
    width: 38%;
    margin-top: 1vw;
    text-align: center;
}

.baseBox1 .hardware,
.baseBox2 img,
.baseBox3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.content1{
    position: relative;
    left: 20%;
    top: 20px;
    width: 60%;
    height: 50%
}
